body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: $primary-font;
  font-weight: 500;
  font-size: 28px;
}

h2 {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 20px;
}
