// my global variables

// colors
$default-color: #000;
$primary-color: #333;
$accent-color: #B88E2F;

// fonts
$primary-font: 'Poppins';
$secondary-font: 'Montserrat';

// cart details
$cart-details-col-width-img:  14%;
$cart-details-col-width-name: 24%;
$cart-details-col-width-price: 15%;
$cart-details-col-width-quantity: 12%;
$cart-details-col-width-subtotal: 25%;
$cart-details-col-width-delete: 10%;
